{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}

{#{% block title %}Mini Тетрадка{% endblock %}#}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets       
        'bundles/nitraminitetradka/css/admin.less' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{#{% block javascript_head %}#}
{#    {{ parent() }}#}
{#    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
{#    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}
{#js для фиксированного хедера    <script src="{{ asset('bundles/nitraminitetradka/js/fixedheadertable.js') }}"></script>#}
{#{% endblock %}#}
    
{#{% block logo_name %}Mini Тетрадка{% endblock logo_name %}#}


        {% block javascript_head %}
            {% javascripts
                'components/jquery/jquery.js'           
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery-ui-1.10.4.custom.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/common.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/menu.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/jquery.colorbox.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/tab.js'
                '@PinanoSelect2Bundle/Resources/public/js/select2.min.js'
                '@AdmingeneratorGeneratorBundle/Resources/public/js/footable/footable.js' %}
                <script src="{{ asset_url }}"></script> 
            {% endjavascripts %}

            {# Календарь перевод и select2 #}
            {% if app.request.locale == 'ru' %}
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-ru.js'
                    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ru.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% elseif app.request.locale == 'uk' %}        
                {% javascripts
                    '@AdmingeneratorGeneratorBundle/Resources/public/js/i18n/jquery.ui.datepicker-uk.js'
                    '@PinanoSelect2Bundle/Resources/public/js/select2_locale_ua.js' %}
                    <script src="{{ asset_url }}"></script>
                {% endjavascripts %}        
            {% endif %}

            {# Для select2 #}
            {% if form is defined and form != false %}
                {{ form_javascript(form) }}    
            {% endif %}

            
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            {#js для фиксированного хедера    <script src="{{ asset('bundles/nitraminitetradka/js/fixedheadertable.js') }}"></script>#}
            
        {% endblock %} 


{% block javascripts %}
    {{ parent() }}
    <script>
        // документ готов
        $(document).ready(function(){
            // для кнопок save-and-list, save
            // добавить прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]')
                .children('.form-actions')
                .wrapInner('<div class="form-submit-buttons"></div>')
                .append('<img alt="{% trans %}Выполнение операции...{% endtrans %}" id="form_image_loader" class="form_image_loader" style="display: none;" src="{{ asset('bundles/nitraminitetradka/images/search-ajax-loader.gif') }}" />');

            // submit спрятать кноки показать прогресбар загрузки
            $('form').has('[name=save-and-list], [name=save]').submit(function(e){
                $('.form-submit-buttons').hide();
                $('.form_image_loader').show();
            });
        });
    </script>
{% endblock javascripts %}


{% block footer %}
{% endblock %}
