{% extends_admingenerated "RiffpointAdminBundle:WomanList:row.html.twig" %}

{% block list_td_column_birthDay %}
    {% if Woman.birthDay %}
        {{ Woman.birthDay.format('Y-m-d') }}
    {% endif %}
{% endblock list_td_column_birthDay %}

