{% extends_admingenerated "RiffpointAdminBundle:ManList:row.html.twig" %}

{% block list_td_column_birthDay %}
    {% if Man.birthDay %}
        {{ Man.birthDay.format('Y-m-d') }}
    {% endif %}
{% endblock list_td_column_birthDay %}

